<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
      body{
        background-image: url(https://wallpapers-max.b-cdn.net/wallpapers/1sep2023/thumb/simple-view-of-the-ocean-wallpaper.jpg);
        background-size:cover ;
      }
    </style>
</head>
<body>
  <style>
    header {
        background-color:yellow;
        color:black;
        text-align: center;
        padding: 1em;
    }
</style>
<header>
    <marquee><h1>OUR EXPERT DOCTORS-</h1></marquee>
</header>
<br>
    
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSULrGOZ9EYaRkULbRQM576H0XF0xcw-Bjg0A&usqp=CAU" width="300" height="300" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">DR.Pallavi J</h1>
          <h2><p class="card-text">Associate of dental and clinic</p></h2>

            Dentalist,
            
            Orthopaedics,
            
            Qualification-senior dentalist,
            
            MBBS, DNB (Orthopedics), MNAMS, FIMSA, Fellow in Complex Primary & Revision Total Knee Arthroplasty (Switzerland)
            
            Hospital
            
            CARE Hospitals, Nampally, Hyderabad</p>
          <a href="{% url 'management:appointment' %}" class="btn btn-primary"><h3>APPOINTMENT</h3></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
<div class="card" style="width: 18rem;">
    <img src="https://www.carehospitals.com/assets/images/main/dr.-(lt-col)-p.-prabhakar.webp" width="300" height="300" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">L . Prabhakar</h1>
      <h2><p class="card-text">Physiotherapist and Senior Pulmonologist</h2>

        Speciality, 
        
        Senior Physiotherapist, 
        
        Qualification, 
        
        MBBS, DTCD, FCCP Special training in Med. Thoracoscopy Marseilles France, 
        
        Hospital,
        
        CARE Hospitals Outpatient Centre, Banjara Hills, Hyderabad
        </p>
      <a href="{% url 'management:appointment' %}" class="btn btn-primary"><h3>APPOINTMENT</h3></a>
    </div>
  </div>
  
</div>
</div><br><br>
<div class="col-12 col-md-6">
    <div class="card" style="width: 18rem;">
      <img src="https://www.carehospitals.com/indore/assets/images/main/dr-a-k-jinsiwale.png" width="300" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">DR AK.Jaiswal</h1>
        <h2><p class="card-text">Nuerology senior surger</h2>
  
          Nuerology,
          
          Surger,
          
          Qualification,
          
          MBBS, MS (Ortho), Dip M.V.S (Sweden), F.S.O.S,
          
          Hospital
          
          CARE CHL Hospitals, Indore</p>
        <a href="{% url 'management:appointment' %}" class="btn btn-primary"><h3>APPOINTMENT</h3></a>
      </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>

</html>