<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physiotherapist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</head>
<body>
    <img src="https://www.unittas.in/images/service/Physiotherapy.jpg" alt="" width="100%">
     <br><br><br><br><br>
    <div class="container">
<div class="row">
            <div class="col-md-6">
                <h4>PHYSIOTHERAPIST- DR L.PRABHAKAR</h4>
                Physiotherapy now comes home with the click of a button. Be it a nagging back pain or a long standing injury, get the best Physiotherapist to treat yourself at your doorstep. Say NO to temporary relief and over the counter medications opt for a permanent solution today!!
            <br><br>
            <b>ABOUT</b>
            <br><br>
            What is Physiotherapy?<br>
Physiotherapy is a degree-based health care profession in which skilled physiotherapists use their knowledge to improve a wide range of conditions involving different parts of the body.
Physiotherapists treat people affected by illness, injury, or disability through manual therapy, exercise, and movement. A typical physiotherapy approach also includes educating the patient about their condition, restrictions, and strengths.
<br><br>
 
 Physiotherapy is not limited to a particular age group and has proven beneficial for people of different demographic with different conditions. Physiotherapy plays a vital role in recovering from various geriatric conditions, neurological, neuro musculoskeletal, cardiovascular and respiratory, etc. Physiotherapy has also been proven beneficial in geriatric condition such as fall prevention etc. They help in pain management and facilitate recovery post surgical recovery helping people to bounce back to their regular routine as early as possible.
 <br> * How to Prepare for Physiotherapy at Home?<br>
 Follow the following simple steps to get ready for a Physiotherapy session at Home –<br>
 
 Step 1: Keep all the medical records handy for physiotherapy assessment.<br>
 
 Step 2: Make sure your physiotherapist knows your medical history thoroughly<br>
 
 Step 3: Select the preferred area in the house where you can do the required physiotherapy exercises.<br>
 
 Step 4: Make a quick list of all the questions you might want to ask your therapist<br>
 
</div>
<div class="col-md-6">
    <img src="https://assets.lybrate.com/img/documents/clinic/logo/828e3bf9b49f4e0f2c0eb0df5b01951c/Shine-Hospital-General-Neurologist-Nellore-c3ab5d"width=100%>
<br><br><br><br><br><br><br><br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlCa9GhjtaTZ-N37XyAmEelfrR5pp9luCb3w&usqp=CAU"width=100%>
</div> 
</div>

</body>
<h1>OUR EXPERIENCED AND DEDICATED SPECIALISTS</h1>
Meet our expert doctors and learn about their unbeatable expertise and excellence in their field.

</html>
